/*----------NORMATIZAÇÃO------------*/

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

html,
body {
    height: 100%;
    background-color: whitesmoke
}

body {
    font-size: 62.5%;
    font-family: 'Open Sans Condensed', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

::selection {
    color: whitesmoke;
    background-color: black
}

input,
textarea {
    font-size: 2em
}

input {
    text-align: center;
}

button {
    cursor: pointer
}

.titulo {
    text-transform: uppercase;
    font-size: 5em
}


/*----------CLASSES------------*/

.nav-start {
    position: absolute;
    justify-content: center;
}

.nav-start>#menu {
    margin-top: -10vh;
    box-shadow: 0 0px 15px -10px rgba(0, 0, 0, 0.5);
}

.nav-fixed {
    z-index: 100;
    position: fixed;
    top: 0;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.hide {
    display: none;
}

.fade {
    opacity: 0;
}

.center_child {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center
}


/*------------BLACK COVER-----------------*/

#black-cover {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}

#alert {
    min-height: 20vh;
    min-width: 50vw;
    background-color: #f3b31b;
    color: #2e2d2c;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: space-between;
}

#alert_top {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%
}

#alert_close {
    border: 2px solid dimgray;
    cursor: pointer;
    margin: -10px -10px 0 0;
    padding: 5px;
    height: 20px;
    width: 20px;
    background-color: black;
    color: white;
    font-size: 1.5em;
    border-radius: 100%;
}

#alert_infos {
    box-sizing: content-box;
    padding: 10px;
}

#alert_infos>h1 {
    font-size: 4em
}

#alert_infos>p {
    font-size: 3em;
}

#alert_email {
    display: flex;
    height: 7vh
}

#alert_email>input {
    width: 80%;
}

#alert_email>button {
    width: 20%;
}


/*------------ONDAS (SVG)-----------------*/

.onda {
    height: 150px;
    width: 100%;
    margin-bottom: -3px;
    background-color: transparent
}

.t_r {
    transform: rotateY(180deg)
}

.b_l {
    transform: rotateX(180deg)
}

.b_r {
    transform: rotate(180deg)
}


/*------------BANNER-----------------*/

#Banner {
    background-color: black;
    height: 97vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#Banner>div {
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#Banner>svg {
    width: 100%;
    -webkit-filter: drop-shadow( -5px -5px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, 0.5));
}

#Banner>svg>path {
    fill: white;
}

#logo {
    z-index: 10;
    width: 35vw;
    min-width: 300px;
    /*
    float: left;
    position: absolute;
    top: 0*/
}


/*
#Banner .redes {
    position: absolute;
    float: right;
    top: 10px;
    right: 0;
}


/*----------MAIN------------*/

#Main {
    top: 0;
    position: relative;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
}


/*----------MENU------------*/

#Nav {
    max-width: auto;
    width: 100%;
    height: 50px;
    min-height: 40px;
    margin: auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    float: left;
    z-index: 99;
    transition: background 1s;
    background-color: whitesmoke;
}

#Nav #home {
    width: 70px;
    transition: opacity 0.7s;
    padding: 4px 0 4px 4px;
    box-sizing: border-box
}

#redes {
    margin-right: 10px;
    z-index: 1;
}

#redes img {
    height: 5vh;
    min-height: 30px;
    opacity: 0.7;
    background-color: white;
    border-radius: 100px;
}

#Nav ul {
    height: 100%;
    font-size: 2em;
    list-style: none;
    display: flex;
    z-index: 2;
    background-color: whitesmoke;
    transition: 1s
}

#Nav li {
    height: 100%;
    width: 150px;
    transition: opacity 0.5s linear, background 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0px 15px;
    border-top: solid 4px
}

#mobile-menu {
    position: fixed;
    top: 0;
    z-index: 100;
    margin: 10px;
    padding: 10px;
    background-color: #2e2d2c;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none;
    transition: transform 1s
}

@media (min-width: 900px) {
    #Nav {
        margin-left: 0
    }
}

@media (max-width: 900px) {
    #Nav {
        height: 100vh;
        flex-flow: column;
        width: auto;
        position: fixed;
        float: none;
        margin-left: -135px;
    }
    #Nav ul {
        flex-flow: column;
        background-color: transparent
    }
    #Nav li {
        height: 20vh;
        border-top: none;
        width: 130px;
        transition: none;
        background-color: transparent
    }
    #Nav #home {
        width: 100px;
        padding: 0;
        display: none
    }
    #mobile-menu {
        display: flex
    }
    #redes {
        display: none
    }
}


/*------------MANIFESTO-----------------*/

#Manifesto {
    padding: 9vh 30px 0px 30px;
    box-sizing: content-box;
    background: #e54347;
    color: whitesmoke;
    font-family: 'Open Sans Condensed', sans-serif;
}

#Manifesto>h1,
#Manifesto>svg {
    font-size: 4em;
    box-sizing: border-box;
    padding: 0 10px
}

#Manifesto>svg {
    height: 4px;
    width: 100%;
}

#Manifesto>svg>line {
    stroke: whitesmoke;
    stroke-width: 4
}

#Manifesto content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    overflow: hidden;
}

#Manifesto content>p {
    padding: 10px;
    font-size: 2.5em;
    text-align: justify;
    vertical-align: top;
    width: 49.9%;
    box-sizing: border-box;
    display: inline-block;
}

#Manifesto content>p>img {
    width: 100%;
}

#txt_right>img:first-child {
    width: 60%;
    float: left
}

@media (max-width: 800px) {
    /*breakpoint*/
    #Manifesto content>p {
        display: block;
        width: 100%;
    }
    #Manifesto {
        padding: 9vh 3px 20px 3px;
    }
    #txt_right>img:first-child {
        width: 100%;
    }
}

#att {
    text-align: right;
    font-size: 2.5em;
    margin-top: 30px
}


/*------------NUVEM-----------------*/

#Nuvem {
    margin: -150px 0;
    width: 100%;
    min-height: 90vh;
    padding: 30px 0 50px 0;
    background-image: url(../img/nuvem/bg.png);
    background-size: 40%;
    background-position: center;
}

#Nuvem h1 {
    text-align: center;
    font-size: 5em;
    color: dimgray
}

#Nuvem img {
    width: 90vw;
}


/*------------MÉTODOS-----------------*/

#Metodos {
    background-color: #621e56;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative
}

#Metodos>h1 {
    position: absolute;
    top: 70px;
    left: 60px;
}

#Metodos h1 {
    text-align: center;
    font-size: 5em;
    color: whitesmoke;
    padding: 10px 0
}

#Metodos>img {
    width: 80vw;
    margin-top: 20px;
}

/*------------MÓDULOS-----------------*/

#Modulos {
    background-color: whitesmoke;
    width: 100%
}

#Modulos>h1 {
    color: #621e56;
}

#Modulos>p{
    font-size: 2.2em;
    text-align: center
}

#modulosContainer {
    margin-top: 20px;
    box-sizing: border-box;
    padding: 20px 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.modulo {
    min-height: 400px;
    min-width: 25vw;
    /* background-image: url("../img/metodos/note%20(big).svg");  */
    background-repeat: no-repeat;
    background-position: center;
    background-color: gainsboro;
    transition: transform 1s
}

.modulo:hover {
    transform: scale(1.04, 1.04)
}

.modulo_titulo {
    text-align: center;
    font-size: 2em;
    padding: 10px 0;
    color: whitesmoke
}

.modulo:nth-child(1)>.modulo_titulo {
    background-color: #f3b31b
}

.modulo:nth-child(2)>.modulo_titulo {
    background-color: #61b1c4
}

.modulo:nth-child(3)>.modulo_titulo {
    background-color: #e54347
}

.modulo_infos {
    transition: 1.5s;
}


/*
@media (max-width: 800px) {
    #modulosContainer>.modulo {
        min-width: 200px;
        width: 100%;
        margin-bottom: 10px
    }
    #modulosContainer {
        display: inherit;
        padding: 20px 10px;
    }
}*/


/*------------EQUIPE-----------------*/

#Equipe {
    background-color: #f3b31b;
    min-height: 50vh;
    color: whitesmoke;
    position: relative
}

#Equipe>h1 {
    position: absolute;
    top: 70px;
    margin-left: 60px;
}

#equipeContainer {
    display: flex;
    padding: 20px 0px 0 20px;
    box-sizing: content-box;
}

#equipeContainer>div {
    display: flex;
    width: 50%;
    align-items: center
}

#equipe_infos {
    color: whitesmoke;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: auto;
}

#equipe_infos>h1 {
    text-align: center;
    font-size: 4em;
}

#equipe_infos>p {
    font-size: 2.3em;
    text-align: justify;
    box-sizing: content-box;
    padding: 10px;
}

.membro {
    transition: opacity 0.7s ease;
    position: relative;
    width: 50%;
    height: 300px;
}

.membro:hover>.membro_infos {
    opacity: 1;
}

.membro_img {
    object-fit: cover;
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
}

.membro_infos {
    color: gainsboro;
    background-color: #2e2d2c;
    box-sizing: border-box;
    padding: 10px;
    z-index: 2;
    transition: 1.5s ease, opacity 0.7s ease;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0
}

.membro_infos h2 {
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 10px
}

.membro_infos p {
    text-align: justify
}

@media (max-width: 1100px) {
    #Equipe>h1 {
        margin-left: 6vw;
    }
    #equipeContainer {
        padding: 0%;
    }
    #equipeContainer>div {
        width: 50%;
        display: block
    }
    #equipe_infos {
        height: 350px
    }
    .membro {
        width: 100%;
        height: 350px;
    }
}

@media (max-width: 640px) {
    #Equipe>h1 {
        margin-left: 12vw;
    }
    #equipeContainer {
        flex-flow: column
    }
    #equipeContainer>div {
        width: 100%;
    }
    #equipe_infos {
        height: 350px
    }
    .membro {
        height: 350px;
    }
    .membro_infos {
        opacity: 0.8
    }
}


/*------------RECOMENDADOS-----------------*/


/*------------VIDEO-----------------*/

#Videos {
    background-color: black;
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    overflow: hidden;
    min-height: 70vh;
}

#v_left {
    width: 50%;
    background-color: black;
    position: relative;
}

#v_left_controls {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#v_left iframe {
    height: 100%;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
}

#v_right {
    width: 50%;
    background-color: whitesmoke;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between
}

#video_infos {
    border-left: 4px solid gainsboro;
    padding-left: 5px
}

#video_titulo {
    font-size: 3.5em;
}

#video_descricao {
    font-size: 2.2em;
    color: dimgray;
    text-align: justify
}

#outros_videos {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    margin-top: 20px
}

#outros_videos>p {
    text-align: center;
    width: 18vw;
    min-width: 220px;
    background-color: #61b1c4;
    color: whitesmoke;
    font-size: 2em;
    border-right: 4px solid #61b1c4;
    margin-bottom: 4px;
}

#v_othersContainer {
    height: 26vh;
    min-height: 140px;
    display: flex;
    flex-flow: row-reverse
}

.v_other {
    height: 100%;
    width: 9vw;
    min-width: 110px;
    margin-left: 4px;
    cursor: pointer;
    position: relative
}

.v_other>img {
    height: 100%;
    width: 100%
}

.v_other_play>img {
    height: 35px
}

.v_other_play {
    font-size: 2em;
    color: whitesmoke;
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s
}

.v_other_play:hover {
    opacity: 0
}

@media (max-width: 900px) {
    /*breakpoint*/
    #Videos {
        display: flex;
        flex-flow: column;
        width: 100%;
    }
    #Videos>div {
        width: 100%;
    }
    #v_left {
        height: 70vh;
    }
    #v_left_controls {
        height: 70vh;
        width: 100%;
    }
}


/*------------ARTIGOS-----------------*/

#Artigos {
    background-color: #61b1c4;
    display: flex;
    flex-flow: column;
    position: relative;
    padding-bottom: 30px
}

#Artigos h1 {
    text-align: center;
    font-size: 5em;
    color: whitesmoke;
    position: absolute;
    top: 40px;
    left: 25px
}

#artigosContainer {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px 50px 10px;
    display: flex;
    justify-content: space-around
}

.artigo {
    margin: 4px;
    cursor: pointer;
    transition: 0.5s;
    max-width: 300px;
    overflow: hidden;
    color: white;
    text-align: center;
}

.artigo:hover {
    transform: scale(1.02, 1.02)
}

.artigo img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    background-color: whitesmoke;
}

.artigo h2 {
    font-size: 2.4em;
    padding: 5px;
    text-align: left;
    background-color: whitesmoke;
    color: #61b1c4;
    margin: -3px 0 5px 0;
}

.artigo p {
    width: 100%;
    font-size: 2em;
    text-align: justify;
    height: 200px;
}

#ver_todos {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
}

#ver_todos>p {
    text-align: center;
    font-size: 2em;
    color: #61b1c4;
    background-color: whitesmoke;
    transition: 0.5s;
    padding: 0 20px;
    margin: 0 10px
}

#ver_todos>svg {
    width: 120px;
    color: whitesmoke;
    height: 2px;
    transition: 0.5s
}

#ver_todos>svg>line {
    stroke: whitesmoke;
    stroke-width: 4
}

@media (max-width: 700px) {
    /*breakpoint*/
    #artigosContainer {
        flex-flow: column;
        width: 100%
    }
    #artigosContainer>div {
        width: 100%;
        margin: 10px 0;
    }
    #ver_todos>svg {
        width: 120px;
    }
}


/*------------CONTATO-----------------*/

#Contato {
    max-width: auto;
    width: 100%;
    background-color: #2e2d2c;
    /*box-shadow: 0 3px 0 10px rgba(0, 0, 0, 0.5);*/
    color: whitesmoke;
    position: relative
}

#Contato h1 {
    font-size: 5em;
    box-sizing: content-box;
    padding: 10px 0px;
    position: absolute;
    top: 70px;
    margin-left: 50px;
}

#Contato #termos {
    margin-left: 10px
}

#contatoContainer {
    display: flex;
    box-sizing: content-box;
    padding: 50px
}

#contatoContainer>div {
    width: 50%
}


/*-------------EMAIL (left side)-------------*/


/*
#emailContainer{
    display: flex;
    margin-top: 10px;
    box-sizing: content-box;
    padding: 0 50px;
} */

#form {
    box-sizing: content-box;
    z-index: 10;
}

#form>input,
#form textarea {
    color: black;
    box-sizing: border-box;
    background-color: white
}

#form>input::placeholder,
#form textarea::placeholder {
    color: gray
}

#form>input {
    width: 100%;
    height: 44px;
}

#txtEmail,
#txtAssunto {
    margin-top: 2px;
    max-width: 1600px;
}

#enviar {
    margin-top: 2px;
    min-width: 100%;
    display: inline-flex;
    height: 110px;
    overflow: hidden;
}

#txtMensagem {
    height: 100%;
    width: 80%;
    text-align: left;
}

#btnEnviar {
    height: 100%;
    width: 20%;
    font-size: 2em;
    color: transparent;
    cursor: pointer;
    margin-left: 2px;
    background-color: whitesmoke;
    background-image: url(../img/icons/send.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    transition: 0.5s
}

#btnEnviar:hover {
    background-position: 100px;
    color: #2e2d2c;
}

#btnEnviar:active {
    background-color: #61b1c4
}

#newsletter {
    display: flex;
    margin-top: 7px;
    font-size: 1.7em;
    align-content: center;
    align-items: center
}

#newsletter input {
    height: 14px;
    width: 14px
}

#newsletter p {
    padding-left: 4px;
    color: dimgray
}

#msgErro {
    color: indianred;
    margin-top: 7px;
    display: none
}


/*-------------ENDEREÇO (right side)-------------*/

#c_right {
    font-size: 2.2em;
    padding-left: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#c_right>p {
    box-sizing: border-box;
    text-align: justify
}

#endereco {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right
}

@media (max-width: 1000px) {
    /*breakpoint*/
    #Contato {
        padding: 0
    }
    #Contato>p {
        text-align: justify;
        padding: 10px
    }
    #form {
        width: 100%;
        padding: 10px
    }
}


/*------------FOOTER-----------------*/

footer {
    background-color: black;
    color: black;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    padding: 0 20px
}


/* #email_icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 8px
}

#email_icon img {
    height: 30px;
    background-color: whitesmoke;
    border-radius: 100%;
    padding: 3px
} */
