/* .
----------FONTS------------

@import url(http://fonts.googleapis.com/css?family=Roboto);
@font-face {
    font-family: 'Geral';
    src: url('../fonts/Lato-Light.ttf');
}
 */


/*----------NORMALIZAÇÃO------------*/

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

html,
body {
    height: 100%;
    background-color: whitesmoke
}

body {
    font-size: 62.5%;
    font-family: 'Open Sans Condensed', sans-serif;
    /* font-family: 'Open Sans Condensed', sans-serif; */
}

::selection {
    color: whitesmoke;
    background-color: #e54347
}


/*----------CLASSES------------*/

.menu-start {
    margin-top: -10vh;
    box-shadow: 0 0px 15px -10px rgba(0, 0, 0, 0.5);
}

.menu-fixed {
    margin-top: 0;
    box-shadow: none;
}

.nav-start {
    position: absolute;
    justify-content: center;
}

.nav-fixed {
    z-index: 100;
    position: fixed;
    top: 0;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.hide {
    display: none;
}

.fade {
    opacity: 0;
}

.redes {
    margin-right: 10px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 100px;
}

.redes img {
    height: 5vh;
    min-height: 30px;
    opacity: 0.7;
}

.wrapper {
    overflow: hidden;
}

.center_child {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center
}


/*------------BLACK COVER-----------------*/

#black-cover {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}

#alert {
    height: 50vh;
    width: 50vw;
    background-color: indianred;
    display: flex;
    justify-content: flex-end;
}

#close {
    border: 2px solid dimgray;
    cursor: pointer;
    margin: -10px -10px 0 0;
    padding: 5px;
    height: 20px;
    width: 20px;
    background-color: black;
    color: white;
    font-size: 1.5em;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*------------BANNER-----------------*/

#Banner {
    background-color: whitesmoke;
    background-image: url("../img/banner/banner-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 96vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#logo {
    width: 35vw;
    min-width: 300px;
    animation: fade ease 1.5s;
    margin-top: -7vh;
}

#Banner .redes {
    position: absolute;
    float: right;
    top: 10px;
    right: 0;
}


/*----------MAIN------------*/

#Main {
    top: 0;
    position: relative;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
}


/*----------MENU------------*/

#Nav {
    max-width: auto;
    width: 100%;
    height: 7vh;
    min-height: 40px;
    margin: auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    float: left;
    z-index: 90;
    transition: background 1s;
    background-color: whitesmoke;
}

#Nav #home {
    height: 8vh;
    width: 7vw;
    min-width: 80px;
    transition: opacity 0.7s
}

#Nav ul {
    height: 100%;
    font-size: 1.8em;
    list-style: none;
    display: flex;
    transition: margin 0.5s ease-out;
}

#Nav li {
    height: 100%;
    min-width: 80px;
    transition: opacity 0.5s linear, margin 0.3s ease-in-out, padding 0.3s ease-in-out, background 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: white;
    padding: 0px 15px;
    border-top: solid 4px
}


/*------------MANIFESTO-----------------*/

#Manifesto {
    padding: 9vh 30px 20px 30px;
    box-sizing: content-box;
    background: linear-gradient(#e54347 100%, #f3b31b);
    color: whitesmoke;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-bottom: 20%
}

#Manifesto>h1,
svg {
    font-size: 4em;
    box-sizing: border-box;
    padding: 0 10px
}

#Manifesto>svg {
    height: 4px;
    width: 100%
}

#Manifesto>svg>line {
    stroke: whitesmoke;
    stroke-width: 4
}

#Manifesto span {
    text-transform: uppercase
}

#Manifesto content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#Manifesto content>p {
    padding: 10px;
    font-size: 2em;
    text-align: justify;
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    box-sizing: border-box;
}

@media (max-width: 800px) {
    /*breakpoint*/
    #Manifesto content>p {
        display: block;
        width: 100%;
    }
}

#att {
    text-align: right;
    font-size: 2.5em;
}


/*------------NUVEM-----------------*/

#Nuvem {
    max-height: 100vh;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 20px
}

#Nuvem h1 {
    text-align: center;
    font-size: 5em;
    color: dimgray
}

#Nuvem img {
    width: 90vw;

}


/*------------RECOMENDADOS-----------------*/

#Recomendados {}


/*------------VIDEO-----------------*/

#Videos {
    background-color: black;
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    overflow: hidden;
}

#v_left {
    width: 50%;
    background-color: black;
    position: relative;
}

#v_left_controls {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#v_left iframe {
    height: 100%;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
}

#v_right {
    width: 50%;
    background-color: whitesmoke;
    box-sizing: content-box;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between
}

#video_infos {
    border-left: 4px solid gainsboro;
    padding-left: 5px
}

#video_titulo {
    font-size: 3em
}

#video_descricao {
    font-size: 2em;
    color: dimgray;
    text-align: justify
}

#outros_videos {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

#outros_videos>p {
    text-align: center;
    width: 15vw;
    min-width: 180px;
    background-color: #61b1c4;
    color: whitesmoke;
    font-size: 2em;
    border-right: 4px solid #61b1c4;
    margin-bottom: 4px;
}

#v_othersContainer {
    height: 22vh;
    display: flex;
    flex-flow: row-reverse
}

.v_other {
    height: 100%;
    width: 7.5vw;
    min-width: 90px;
    margin-left: 4px;
    cursor: pointer;
    position: relative
}

.v_other img {
    height: 100%;
    width: 100%
}

.v_other_play {
    font-size: 2em;
    color: whitesmoke;
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s
}

.v_other_play:hover {
    opacity: 0
}

@media (max-width: 900px) {
    /*breakpoint*/
    #Videos {
        display: flex;
        flex-flow: column;
        width: 100%;
    }
    #Videos>div {
        width: 100%;
    }
    #v_left {
        height: 70vh;
    }
    #v_left_controls {
        height: 70vh;
        width: 100%;
    }
}


/*------------ARTIGOS-----------------*/

#Artigos {
    background-color: whitesmoke;
    z-index: 2;
    display: flex;
    flex-flow: column;
    padding-bottom: 10px;
    height: 100vh
}

#Artigos h1 {
    text-align: center;
    font-size: 5em;
    background-color: #61b1c4;
    color: whitesmoke;
    padding: 10px 0;
    margin-bottom: 10px
}

#artigosContainer {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-around
}

@media (max-width: 700px) {
    /*breakpoint*/
    #artigosContainer {
        display: block;
        width: 100%
    }
    #artigosContainer>div {
        width: 100%;
        margin: 10px 0;
    }
    #ver_todos>svg {
        width: 120px;
    }
}

.artigo {
    margin: 4px;
    cursor: pointer;
    transition: 0.5s;
    width: 250px;
    overflow: hidden;
    color: #61b1c4;
    background-color: whitesmoke
}

.artigo:hover {
    transform: scale(1.02, 1.02)
}

.artigo img, .artigo h2{
    margin-bottom: 10px;

}

.artigo img {
    height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: -2px;
    background-color: whitesmoke
}

.artigo h2 {
    font-size: 2.3em;
    padding: 2px;
}

.artigo p {
    width: 100%;
    font-size: 2em;
    text-align: justify;
    height: 200px;

}

#ver_todos {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
}

#ver_todos>p {
    text-align: center;
    font-size: 2em;
    color: #61b1c4;
    background-color: whitesmoke;
    transition: 0.5s;
    padding: 0 15px;
}

#ver_todos svg {
    width: 120px;
    color: whitesmoke;
    height: 2px
}

#ver_todos>svg>line {
    stroke: whitesmoke;
    stroke-width: 4
}


/*------------MÉTODOS-----------------*/

#Metodos {
    background-color: #621e56;
    height: 90vh
}

#Metodos h1 {
    text-align: center;
    font-size: 5em;
    color: whitesmoke;
    padding: 10px 0
}

#MetodosContainer {
    box-sizing: content-box;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between
}

#MetodosContainer>.metodo {
    height: 400px;
    background-image: url(../img/banner/banner-1.jpg);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    display: inline-block;
    vertical-align: top;
    width: 33%;
    box-sizing: border-box;
}

@media (max-width: 800px) {
    /*breakpoint*/
    #MetodosContainer>.metodo {
        min-width: 200px;
        width: 100%;
        margin-bottom: 10px
    }
    #MetodosContainer {
        display: inherit;
        padding: 20px 10px;
    }
}

.metodo_infos {
    transition: 1.5s;
}


/*------------EQUIPE-----------------*/

#Equipe {
    background-color: #f3b31b;
}

#Equipe h1 {
    text-align: center;
    font-size: 5em;
    color: white;
    padding: 10px 0
}

#membrosContainer {
    box-sizing: border-box;
    padding: 10px 10px 20px 10px;
    display: flex;
    justify-content: center;
}

.membro {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 400px;
    transition: all 1.5s ease;
    position: relative;
}

.membro:hover {
    width: 400px
}

.membro:hover>.membro_infos {
    opacity: 1;
}

.membro_img {
    object-fit: cover;
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
}

.membro_infos {
    color: gainsboro;
    background-color: #2e2d2c;
    box-sizing: border-box;
    padding: 10px;
    z-index: 2;
    opacity: 0;
    transition: 1.5s ease, opacity 0.7s ease;
    height: 100%;
    width: 100%;
    position: absolute
}

.membro_infos h2 {
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 10px
}

.membro_infos p {
    text-align: justify
}


/*------------CONTATO-----------------*/

#Contato {
    color: gainsboro;
    max-width: auto;
    width: 100%;
    background-color: #322e2f;
    border-top: 10px solid gainsboro;
    box-shadow: 0 3px 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 0 50px 20px 50px
}

#Contato h1 {
    text-align: center;
    font-size: 5em;
    color: whitesmoke;
    box-sizing: content-box;
    padding: 10px 0px
}

#Contato .desc {
    font-size: 1.9em;
    color: lavender;
    margin-top: 5px;
    box-sizing: border-box;
    padding: 0 0 14px 0;
}

#contatoContainer {
    width: 100%;
    display: flex;
}

#Contato #termos {
    margin-left: 10px
}

@media (max-width: 500px) {
    /*breakpoint*/
    #Contato {
        padding: 7px
    }
    #Contato>p {
        text-align: justify
    }
    #contatoContainer {
        display: flex;
        flex-flow: column;
    }
    #contatoContainer>div {
        width: 100%;
    }
    #emailContainer {
        margin-bottom: 20px
    }
    #endereco {
        width: 100%;
        padding: 0
    }
}


/*-------------EMAIL (right side)-------------*/

#emailContainer {
    width: 50%
}

#email_icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 8px
}

#email_icon img {
    height: 30px;
    background-color: whitesmoke;
    border-radius: 100%;
    padding: 3px
}

#form {
    width: 100%;
}

input::selection {
    color: whitesmoke;
    background-color: #9e715f
}

.txt {
    height: 40px;
    width: 100%;
    font-size: 2.1em;
    color: #2e2d2c;
    text-align: center;
    background-color: #c1e1ca;
    border: 3px solid whitesmoke;
}

.txt::placeholder {
    color: dimgray
}

#txtEmail,
#txtAssunto {
    margin-top: 2px;
    max-width: 1600px;
}

#enviar {
    margin-top: 2px;
    min-width: 101%;
    display: inline-flex;
    height: 110px;
    overflow: hidden;
}

#txtMensagem {
    height: 100%;
    width: 80%;
    text-align: left;
    font-size: 2em
}

#btnEnviar {
    height: 100%;
    width: 20%;
    color: white;
    font-weight: 900;
    font-family: 'Geral';
    cursor: pointer;
    background-color: #9e715f;
    margin-left: 2px;
}

#btnEnviar:active {
    transition: 0.5s;
    background-color: #3fb094
}

#newsletter {
    display: flex;
    margin-top: 7px;
    align-items: center;
    font-size: 1.4em
}

#newsletter p {
    padding-left: 4px;
    color: dimgray
}

#msgErro {
    color: indianred;
    margin-top: 7px;
    display: none
}


/*-------------ENDEREÇO-------------*/

#enderecoContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#endereco {
    box-sizing: border-box;
    padding: 20px 20% 20px 20px;
    border: 3px solid whitesmoke;
    background-color: dimgray;
    color: whitesmoke;
    font-size: 1.7em;
    display: flex;
    flex-flow: column;
}


/*
#endereco {
    display: flex;
    flex-flow: row;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    /*
    border-right: solid gainsboro 4px;
    padding-right: 6px;
    margin-top: 30px;
}

#endereco #local {
    text-align: right;
    font-size: 1.6em
}

#endereco #tel {
    left: 50px;
    font-size: 3em
}
*/


/*------------FOOTER-----------------*/

footer {
    height: 0;
    background-color: transparent
}
