/*----------NORMATIZAÇÃO------------*/

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

html,
body {
    height: 100%;
    background-color: whitesmoke
}

body {
    font-size: 62.5%;
    font-family: 'Open Sans Condensed', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

::selection {
    color: whitesmoke;
    background-color: black
}


/*----------CLASSES------------*/

.nav-start {
    position: absolute;
    justify-content: center;
}

.nav-start>#menu {
    margin-top: -10vh;
    box-shadow: 0 0px 15px -10px rgba(0, 0, 0, 0.5);
}

.nav-fixed {
    z-index: 100;
    position: fixed;
    top: 0;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.nav-fixed>#menu {
    margin-top: 0;
    box-shadow: none;
}

.hide {
    display: none;
}

.fade {
    opacity: 0;
}

.redes {
    margin-right: 10px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 100px;
}

.redes img {
    height: 5vh;
    min-height: 30px;
    opacity: 0.7;
}

.center_child {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center
}


/*------------BLACK COVER-----------------*/

#black-cover {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}

#alert {
    min-height: 20vh;
    min-width: 50vw;
    background-color: #f3b31b;
    color: #2e2d2c;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: space-between;
}

#alert_top {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    width: 100%
}

#alert_close {
    border: 2px solid dimgray;
    cursor: pointer;
    margin: -10px -10px 0 0;
    padding: 5px;
    height: 20px;
    width: 20px;
    background-color: black;
    color: white;
    font-size: 1.5em;
    border-radius: 100%;
}

#alert_infos {
    box-sizing: content-box;
    padding: 10px;
}

#alert_infos>h1 {
    font-size: 4em
}

#alert_infos>p {
    font-size: 3em;
}


/*------------ONDAS (SVG)-----------------*/

.onda {
    height: 150px;
    background-color: white;
    width: 100%;
    margin-bottom: -3px;

}

.t_r {
    transform: rotateY(180deg)
}

.b_l {
    transform: rotateX(180deg)
}

.b_r {
    transform: rotate(180deg)
}

#svg_video {
    background-color: #61b1c4
}


/*------------BANNER-----------------*/

#Banner {
    background-color: white;
    background-image: url("../img/banner/1%20(medium).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 97vh;
    width: 100%;
    overflow: hidden;
    /*position: relative;*/
}

#Banner>div {
    height: 100%;
    width: 100%;
    background: radial-gradient(rgba(255,255,255,0.3), transparent 80%);
    position: absolute
}

#Banner>svg {
    width: 100%;
    -webkit-filter: drop-shadow( -5px -5px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, 0.5));
}

#Banner>svg>path {
    fill: white;
}

#logo {
    z-index: 10;
    width: 35vw;
    min-width: 300px;
    /*
    float: left;
    position: absolute;
    top: 0*/
}

/*
#Banner .redes {
    position: absolute;
    float: right;
    top: 10px;
    right: 0;
}


/*----------MAIN------------*/

#Main {
    top: 0;
    position: relative;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
}


/*----------MENU------------*/

#Nav {
    max-width: auto;
    width: 100%;
    height: 55px;
    min-height: 40px;
    margin: auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    float: left;
    z-index: 90;
    transition: background 1s;
    background-color: whitesmoke;
}

#Nav #home {
    width: 80px;
    transition: opacity 0.7s;
    padding: 4px 0 4px 4px;
    box-sizing: border-box
}

#Nav ul {
    height: 100%;
    font-size: 2em;
    list-style: none;
    display: flex;
    transition: margin 0.5s ease-out;
}

#Nav li {
    height: 100%;
    width: 150px;
    transition: opacity 0.5s linear, margin 0.3s ease-in-out, padding 0.3s ease-in-out, background 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: white;
    padding: 0px 15px;
    border-top: solid 4px
}

@media (max-width: 900px) {
    #Nav {
        display: none
    }
}


/*------------MANIFESTO-----------------*/

#Manifesto {
    padding: 9vh 30px 20px 30px;
    box-sizing: content-box;
    background: #e54347;
    color: whitesmoke;
    font-family: 'Open Sans Condensed', sans-serif;
}

#Manifesto>h1,
#Manifesto>svg {
    font-size: 4em;
    box-sizing: border-box;
    padding: 0 10px
}

#Manifesto>svg {
    height: 4px;
    width: 100%;
}

#Manifesto>svg>line {
    stroke: whitesmoke;
    stroke-width: 4
}

/*
#Manifesto span {
    font-weight: bold;
    text-transform: uppercase
}
 */

#Manifesto content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    overflow: hidden
}

#Manifesto content>p {
    padding: 10px;
    font-size: 2.5em;
    text-align: justify;
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    box-sizing: border-box;
}

@media (max-width: 800px) {
    /*breakpoint*/
    #Manifesto content>p {
        display: block;
        width: 100%;
    }
    #Manifesto {
        padding: 9vh 3px 20px 3px;
    }
}

#att {
    text-align: right;
    font-size: 2.5em;
    margin-top: 30px
}


/*------------NUVEM-----------------*/

#Nuvem {
    min-height: 120vh;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 20px
}

#Nuvem h1 {
    text-align: center;
    font-size: 5em;
    color: dimgray
}

#Nuvem img {
    width: 90vw;
}


/*------------MÉTODOS-----------------*/

#Metodos {
    background-color: #621e56;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between
}

#Metodos h1 {
    text-align: center;
    font-size: 5em;
    color: whitesmoke;
    padding: 10px 0
}

#Metodos>img {
    width: 90vw
}

#planosContainer>h1{
    color: #621e56;
}

#planosContainer {
    box-sizing: content-box;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    min-height: 30vh;
    margin-top: 10vh
}

#planosContainer>.metodo {
    height: 400px;
    background-image: url(../img/banner/banner-1.jpg);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    display: inline-block;
    vertical-align: top;
    width: 33%;
    box-sizing: border-box;
}

/*
@media (max-width: 800px) {
    #planosContainer>.plano {
        min-width: 200px;
        width: 100%;
        margin-bottom: 10px
    }
    #planosContainer {
        display: inherit;
        padding: 20px 10px;
    }
}*/

.plano_infos {
    transition: 1.5s;
}


/*------------EQUIPE-----------------*/

@media (min-width: 1100px) {
    #Equipe{
        min-height: 50vh;
        padding: 0 20px;
        box-sizing: content-box
    }

    #Equipe>div {
        display: flex;
        width: 50%;
        align-items: center
    }
    .membro {
        width: 50%;
        height: 300px;
    }
    #equipe_infos{
         height: auto;
    }

    .membro_infos {
        opacity: 0
    }
}

@media (max-width: 1100px) {
    #Equipe {
        padding: 0%;
    }
    #Equipe>div {
        width: 50%;
    }
    /*
    #equipe_first {
        display: flex;
        flex-flow: column-reverse;
    }
    */
    .membro {
        width: 100%;
        height: 350px;
    }
    .membro_infos {
        opacity: 0
    }
}

@media (max-width: 640px) {
    #Equipe {
        flex-flow: column
    }
    #Equipe>div {
        width: 100%;
    }
    #equipe_infos {
        height: 350px
    }
    .membro {
        height: 350px;
    }
    .membro_infos {
        opacity: 0.8
    }
}

#Equipe {
    background-color: #f3b31b;
    display: flex
}

#equipe_infos {
    color: whitesmoke;
    display: flex;
    flex-flow: column;
    justify-content: space-around
}

#equipe_infos>h1 {
    text-align: center;
    font-size: 4em;
}

#equipe_infos>p {
    font-size: 2.3em;
    text-align: justify;
    box-sizing: content-box;
    padding: 10px;
}

.membro {
    transition: opacity 0.7s ease;
    position: relative;
}

.membro:hover>.membro_infos {
    opacity: 1;
}

.membro_img {
    object-fit: cover;
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
}

.membro_infos {
    color: gainsboro;
    background-color: #2e2d2c;
    box-sizing: border-box;
    padding: 10px;
    z-index: 2;
    transition: 1.5s ease, opacity 0.7s ease;
    height: 100%;
    width: 100%;
    position: absolute
}

.membro_infos h2 {
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 10px
}

.membro_infos p {
    text-align: justify
}


/*------------RECOMENDADOS-----------------*/

#Recomendados {}


/*------------VIDEO-----------------*/

#Videos {
    background-color: black;
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    overflow: hidden;
    min-height: 70vh
}

#v_left {
    width: 50%;
    background-color: black;
    position: relative;
}

#v_left_controls {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#v_left iframe {
    height: 100%;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
}

#v_right {
    width: 50%;
    background-color: whitesmoke;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between
}

#video_infos {
    border-left: 4px solid gainsboro;
    padding-left: 5px
}

#video_titulo {
    font-size: 3.5em
}

#video_descricao {
    font-size: 2.2em;
    color: dimgray;
    text-align: justify
}

#outros_videos {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    margin-top: 20px
}

#outros_videos>p {
    text-align: center;
    width: 15vw;
    min-width: 180px;
    background-color: #61b1c4;
    color: whitesmoke;
    font-size: 2em;
    border-right: 4px solid #61b1c4;
    margin-bottom: 4px;
}

#v_othersContainer {
    height: 22vh;
    display: flex;
    flex-flow: row-reverse
}

.v_other {
    height: 100%;
    width: 7.5vw;
    min-width: 90px;
    margin-left: 4px;
    cursor: pointer;
    position: relative
}

.v_other>img {
    height: 100%;
    width: 100%
}

.v_other_play>img{
    height: 25px
}

.v_other_play {
    font-size: 2em;
    color: whitesmoke;
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s
}

.v_other_play:hover {
    opacity: 0
}

@media (max-width: 900px) {
    /*breakpoint*/
    #Videos {
        display: flex;
        flex-flow: column;
        width: 100%;
    }
    #Videos>div {
        width: 100%;
    }
    #v_left {
        height: 70vh;
    }
    #v_left_controls {
        height: 70vh;
        width: 100%;
    }
}


/*------------ARTIGOS-----------------*/

#Artigos {
    background-color: #61b1c4;
    z-index: 2;
    display: flex;
    flex-flow: column;
    padding-bottom: 10px;
}

#Artigos h1 {
    text-align: center;
    font-size: 5em;
    color: whitesmoke;
    padding: 10px 0;
    margin-bottom: 10px
}

#artigosContainer {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px 50px 10px;
    display: flex;
    justify-content: space-around
}

@media (max-width: 700px) {
    /*breakpoint*/
    #artigosContainer {
        display: block;
        width: 100%
    }
    #artigosContainer>div {
        width: 100%;
        margin: 10px 0;
    }
    #ver_todos>svg {
        width: 120px;
    }
}

.artigo {
    margin: 4px;
    cursor: pointer;
    transition: 0.5s;
    width: 340px;
    overflow: hidden;
    color: whitesmoke;
}

.artigo:hover {
    transform: scale(1.02, 1.02)
}

.artigo img,
.artigo h2 {
    margin-bottom: 10px;
}

.artigo img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin-bottom: -2px;
    background-color: black
}

.artigo h2 {
    font-size: 2.4em;
    padding: 2px;
}

.artigo p {
    width: 100%;
    font-size: 2em;
    text-align: justify;
    height: 200px;
}

#ver_todos {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
    padding-bottom: 10px
}

#ver_todos>p {
    text-align: center;
    font-size: 2em;
    color: #61b1c4;
    background-color: whitesmoke;
    transition: 0.5s;
    padding: 0 15px;
    margin: 0 10px
}

#ver_todos>svg {
    width: 120px;
    color: whitesmoke;
    height: 2px
}

#ver_todos>svg>line {
    stroke: whitesmoke;
    stroke-width: 4
}


/*------------CONTATO-----------------*/

#Contato {
    color: gainsboro;
    max-width: auto;
    width: 100%;
    background-color: #322e2f;
    border-top: 10px solid gainsboro;
    box-shadow: 0 3px 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 0 50px 20px 50px
}

#Contato h1 {
    text-align: center;
    font-size: 5em;
    color: whitesmoke;
    box-sizing: content-box;
    padding: 10px 0px
}

#Contato .desc {
    font-size: 2.2em;
    color: lavender;
    margin-top: 5px;
    box-sizing: border-box;
    padding: 0 0 14px 0;
}

#contatoContainer {
    width: 100%;
    display: flex;
}

#Contato #termos {
    margin-left: 10px
}

@media (max-width: 1000px) {
    /*breakpoint*/
    #Contato {
        padding: 7px
    }
    #Contato>p {
        text-align: justify
    }
    #contatoContainer {
        display: flex;
        flex-flow: column;
    }
    #contatoContainer>div {
        width: 100%;
    }
    #emailContainer {
        margin-bottom: 20px
    }
    #endereco {
        width: 100%;
        padding: 0
    }
}


/*-------------EMAIL (left side)-------------*/

#emailContainer {
    width: 50%;
}

#email_icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 8px
}

#email_icon img {
    height: 30px;
    background-color: whitesmoke;
    border-radius: 100%;
    padding: 3px
}

#form {
    width: 100%;
}

input::selection,
textarea::selection {
    color: whitesmoke;
    background-color: #9e715f
}

.txt {
    height: 40px;
    width: 100%;
    font-size: 2.1em;
    color: #2e2d2c;
    text-align: center;
    background-color: #c1e1ca;
    border: 3px solid whitesmoke;
    box-sizing: border-box
}

.txt::placeholder {
    color: dimgray
}

#txtEmail,
#txtAssunto {
    margin-top: 2px;
    max-width: 1600px;
}

#enviar {
    margin-top: 2px;
    min-width: 100%;
    display: inline-flex;
    height: 110px;
    overflow: hidden;
}

#txtMensagem {
    height: 100%;
    width: 80%;
    text-align: left;
    font-size: 2em
}

#btnEnviar {
    height: 100%;
    width: 20%;
    color: white;
    font-weight: 900;
    font-family: 'Geral';
    cursor: pointer;
    background-color: #9e715f;
    margin-left: 2px;
}

#btnEnviar:active {
    transition: 0.5s;
    background-color: #3fb094
}

#newsletter {
    display: flex;
    margin-top: 7px;
    align-items: center;
    font-size: 1.7em
}

#newsletter p {
    padding-left: 4px;
    color: dimgray
}

#msgErro {
    color: indianred;
    margin-top: 7px;
    display: none
}


/*-------------ENDEREÇO-------------*/

#enderecoContainer {
    width: 50%;
    align-items: flex-end
}

#endereco {
    box-sizing: border-box;
    max-width: 100%;
    padding: 20px 40% 20px 20px;
    border: 3px solid whitesmoke;
    background-color: dimgray;
    color: whitesmoke;
    font-size: 2em;
    display: flex;
    flex-flow: column;
}


/*
#endereco {
    display: flex;
    flex-flow: row;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    /*
    border-right: solid gainsboro 4px;
    padding-right: 6px;
    margin-top: 30px;
}

#endereco #local {
    text-align: right;
    font-size: 1.6em
}

#endereco #tel {
    left: 50px;
    font-size: 3em
}
*/


/*------------FOOTER-----------------*/

footer {
    height: 0;
    background-color: transparent
}
