/*----------NORMATIZAÇÃO------------*/

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

::selection {
    color: whitesmoke;
    background-color: black
}

input {
    text-align: center;
}

/*----------CLASSES------------*/

.hide {
    display: none;
}

.fade {
    opacity: 0;
}

.center_child {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center
}

/*----------BODY------------*/
body{
    position: relative;

    display: flex;
    flex-flow: column;
    align-items: center;

    font-size: 1.4em;
    background-color: whitesmoke;
    color: #2e2d2c
}

#msg{
    text-align: center;
    margin-top: 12vh
}

form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

input:not([type="submit"]){
    font-size: 1em;
    padding: 8px 0;
    width: 400px
}

input[type="submit"] {
	height: 42px;
    width: 35px;
    font-size: 1em;
    color: white;
    transition: background 0.7s;
    cursor: pointer
}
input[type="submit"]:focus{
    background-color: cadetblue
}

#mce-responses{
    width: 435px;
    background-color: cadetblue;
    color: whitesmoke;
    margin: auto
}

#mce-error-response{
    background-color: indianred
}

footer {
	position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center
}


footer>p>span {
	font-weight: bold;
}

footer>img{
    width: 100px;
    height: auto;
    position: absolute;
    right: 15px;
    bottom: 0
}
