.container {
	box-sizing: border-box;
    padding: 40px 0
}

.artigo {
    transition: 0.5s;
    color: #2e2d2c;
    background-color: white;

    display: flex;
    height: 200px;
    margin-bottom: 20px;

    box-shadow: 0px 0px 20px rgba(0,0,0,0.2)
}

.artigo img {
    height: 100%;
    max-width: 280px;
    object-fit: cover;
    background-color: black;
}

.artigo_infos {
    box-sizing: border-box;
    padding: 12px;
    position: relative
}

.artigo h1 {
    font-size: 1.1em;
    padding-bottom: 10px
}

.artigo p {
    width: 100%;
    font-size: 0.9em;
    text-align: justify;

    min-height: 180px;
    overflow: hidden;
}

.artigo_mais {
    position: absolute;
    right: 10px;
    bottom: 10px;


    color: #61b1c4;
    box-sizing: border-box;
    padding: 3px 18px;
    background-color: white;
    font-size: 0.9em;
    text-align: center;

    cursor: pointer;
    transition: 0.8s
}

.artigo_mais:hover {
    color: white;
    background-color: #2e2d2c;
}


/*------------MEDIAS-----------------*/
@media (max-width: 655px) {
    .artigo{
        flex-flow: column;
        height: auto;
    }
    .artigo img{
        max-width: 100%;
        max-height: 250px
    }
}
