/*------------BANNER-----------------*/

#Banner {
    background-color: black;
    height: 98.5vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#Banner > div {
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#banner_fade {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1
}

#logo {
    z-index: 2;
    width: 32vw;
    min-width: 300px;
    animation: fade ease-in 1.5s;
}

#Banner > p {
    z-index: 2;
    text-transform: uppercase;
    color: white;
    font-size: 1.8em;
    font-weight: 900;
    margin: 10vh 0;
    letter-spacing: 2px;
    text-align: center;
}

/* #Banner > p > span{
    color: white;text-shadow: 2px 2px dimgray;
    text-decoration: underline
} */

#Banner > .btn {
    z-index: 2;
    border-color: white;
    color: white;
}

#Banner > .btn:hover {
    background-color: white;
    color: black
}

/*----------MAIN------------*/

#Main {
    top: 0;
    position: relative;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
}

/*  #Manifesto  svg {
    height: 5px;
    width: 100%;

    -webkit-filter: drop-shadow( 1px 1px teal));
    filter: drop-shadow( 1px 1px teal);
 }

 #Manifesto svg line {
    stroke: #2e2d2c;
    stroke-width: 5;

 } */

/*------------MANIFESTO-----------------*/

#Manifesto {
    padding-top: 9vh;
    /*  padding: 9vh 20vw 0px 20vw; */
    box-sizing: content-box;
    background: #e54347;
    position: relative;
    color: whitesmoke;
    transition: all 0.5s;
}

#Manifesto h1 {
    color: #2e2d2c;
    font-size: 1.8em;
    text-align: center;
    /* text-shadow: 1px 1px teal */
    padding: 25px 0
}

#Manifesto .wrapper {
    max-width: 810px;
}

#Manifesto .container p:not(.p_destaque) {
    padding: 18px 0;

    font-size: 1.2em;
    text-align: justify;
}

#Manifesto .container p:last-child,
.p_destaque {
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.p_destaque:nth-child(1),
.p_destaque:nth-child(2) {
    font-size: 1.8em;
}

.p_destaque:nth-child(4),
.p_destaque:nth-child(8) {
    font-size: 0.9em;
}

.p_destaque:nth-child(5),
.p_destaque:nth-child(6),
.p_destaque:nth-child(9),
.p_destaque:nth-child(10) {
    font-size: 2em;
}

#Manifesto .container p:last-child {
    font-size: 3em;
    margin-top: 20px
}

@media (max-width: 850px) {

    #Manifesto .container > p:not(.p_destaque) {
        font-size: 1em;
    }
    .p_destaque:nth-child(1),
    .p_destaque:nth-child(2) {
        font-size: 1.3em;
    }

    .p_destaque:nth-child(4),
    .p_destaque:nth-child(8) {
        font-size: 0.8em;
    }

    .p_destaque:nth-child(5),
    .p_destaque:nth-child(6),
    .p_destaque:nth-child(9),
    .p_destaque:nth-child(10) {
        font-size: 1.5em;
    }

    #Manifesto .container > p:last-child {
        font-size: 2.5em;
    }
}

@media (max-width: 645px) {
    #Manifesto .container > p:not(.p_destaque) {
        font-size: 0.9em;
    }

    .p_destaque:nth-child(1),
    .p_destaque:nth-child(2) {
        font-size: 1.1em;
    }

    .p_destaque:nth-child(4),
    .p_destaque:nth-child(8) {
        font-size: 0.7em;
    }

    .p_destaque:nth-child(5),
    .p_destaque:nth-child(6),
    .p_destaque:nth-child(9),
    .p_destaque:nth-child(10) {
        font-size: 1.1em;
    }

    #Manifesto .container > p:last-child {
        font-size: 2em;
    }
}

/*------------NUVEM-----------------*/

#Nuvem {
    margin: -150px 0;
    width: 100%;
    min-height: 90vh;
    padding: 80px 0 80px 0;
    background-color: whitesmoke;
}

#Nuvem img {
    width: 80vw;
}

/*------------MÉTODOS-----------------*/

#Metodos {
    position: relative;

}

#Metodos .aba {
    color: whitesmoke;
    background-color: #621e56;
    padding-left: 7vw;
}

#caminho {
    background-color: #621e56;
    position: relative
}

.owl-carousel {
    cursor: all-scroll
}

#caminho_controls {
    height: 100%;
    width: 100%;
    flex-flow: row;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 0 5vw;

    color: #621e56;
    font-size: 1.8em;
    font-weight: bold;

    position: absolute;
}

#caminho_controls > div {
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 100%;

    padding: 2px 12px;
    box-shadow: 3px 3px dimgray;
    z-index: 2
}

#caminho_controls > div:active {
    box-shadow: none
}

/*------------MÓDULOS-----------------*/

#Modulos {
    background-color: whitesmoke;
    /* padding: 0 19vw; */
    text-align: justify;
    font-size: 1.1em;
}

#Modulos > .wrapper {
    max-width: 800px
}

#Modulos > .wrapper > h1 {
    color: #621e56;

    text-align: center;
    padding: 10px 0
}

.single_modulo {
    display: flex;
    align-items: center;
}

.single_modulo > img {
    width: 200px;
    padding-right: 14px
}

#Modulos > .wrapper > .container {
    display: flex;
    text-align: center;
    margin-top: 15px;
}

.modulo {
    box-sizing: content-box;
    padding: 15px;
}

.modulo > img {
    width: 120px
}

.modulo > h1 {
    font-size: 1.2em
}

.modulo > p {
    margin-top: 20px;
}

/*------------EQUIPE-----------------*/

#Equipe {
    color: whitesmoke;
    position: relative;

    background-color: #f3b31b;
}

#Equipe .aba {
    color: #2e2d2c;
}

#Equipe > .container > .container {
    background-color: #f3b31b;
    background-color: rebeccapurple;

    position: relative;
    width: 40vw;

    margin-right: 80px
}

#membros_controls {
    background-color: red;
    position: absolute;
    width: 100%;

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 8vw
}

#membros_controls > p {
    cursor: pointer
}


.membro {
    text-align: center;
}

.membro > img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    object-fit: cover
}

.membro > img::before {
    content: "hello";
    font-size: 1em;
    color: white
}

.membro > img::after {
    content: "hello";
    font-size: 1em;
    color: white
}

.membro > h1 {
    margin-top: 10px
}

.membro > p {
    margin-top: 20px
}

/*------------RECOMENDADOS-----------------*/

/*------------VIDEO-----------------*/

#Videos {
    font-weight: 100;
    padding-bottom: 80px;
    background-color: whitesmoke;
}

#Videos > .wrapper h1 {
    color: #61b1c4;
}

#Videos > .wrapper > h1 {
    padding: 20px 0 50px 0
}

#Videos > .wrapper > .container {
    margin: auto;
    display: flex;
    min-height: 60vh;
}

#v_left {
    width: 50%;
    background-color: black;
    position: relative;
}

#v_left_controls {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

#v_left iframe {
    height: 100%;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
}

#v_right {
    width: 50%;
    background-color: whitesmoke;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    border-left: 4px solid gainsboro;
    padding-left: 5px;
    margin-left: 10px
}

#video_infos {
    margin-left: 10px
}

#video_titulo {
    font-size: 1.5em;
    text-transform: uppercase
}

#video_descricao {
    font-size: 1.1em;
    color: dimgray;
    text-align: justify;
}

#outros_videos {
    display: flex;
    flex-flow: column;
    margin-top: 20px
}

#outros_videos > p {
    padding: 4px 2px;

    text-align: center;
    width: 18vw;
    min-width: 220px;
    background-color: #61b1c4;
    color: whitesmoke;
    font-size: 1em;
    margin-bottom: 4px;
    text-transform: uppercase
}

#outros_videos > .container {
    height: 15vh;
    display: flex;
}

.v_other {
    height: 100%;
    width: 12.8vw;
    min-width: 133px;
    margin-right: 4px;
    cursor: pointer;
    position: relative
}

.v_other > img {
    height: 100%;
    width: 100%
}

.v_other_play {
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s
}

.v_other_play:hover {
    opacity: 0
}

.v_other_play > img {
    height: 35px
}

/* @media (max-width: 900px) {
    breakpoint
    #Videos {
        display: flex;
        flex-flow: column;
        width: 100%;
    }
    #Videos > div {
        width: 100%;
    }
    #v_left {
        height: 70vh;
    }
    #v_left_controls {
        height: 70vh;
        width: 100%;
    }
} */

/*------------ARTIGOS-----------------*/

#Artigos {
    background-color: #61b1c4;
    padding-bottom: 150px;
    margin-bottom: -150px;
}

#Artigos > h1 {
    color: #2e2d2c;
    margin: -50px 0px 50px 10vw
}

#Artigos > .wrapper > .container {
    display: flex;
    justify-content: space-between;
}

.artigo {
    transition: 0.5s;
    max-width: 250px;
    color: white;
    text-align: center;
}

.artigo img {
    height: 190px;
    width: 100%;
    object-fit: cover;
    background-color: black;
}

.artigo h1 {
    font-size: 1.1em;
    text-align: center;
    color: white;
    margin: 2px 0 15px 0
}

.artigo p {
    width: 100%;
    font-size: 0.9em;
    text-align: justify;

    height: 180px;
}

.artigo_mais {
    margin-top: 5px;
    color: #61b1c4;
    box-sizing: border-box;
    padding: 2px 18px;
    background-color: white;
    font-size: 0.9em;
    text-align: center;

    cursor: pointer;
    transition: 0.8s
}

.artigo_mais:hover {
    padding: 2px 35%
}

#Artigos > .wrapper > .btn {
    margin-top: 60px;
    color: #2e2d2c;
}

    background-color: #2e2d2c;
    color: white;
}


@media (max-width: 700px) {
    #Artigos > .wrapper > .container {
        flex-flow: column;
        width: 100%;
    }
    #Artigos > .wrapper > .container > div {
        width: 100%;
        margin: 10px 0;
        max-width: inherit;
    }
    #ver_todos > svg {
        width: 120px;
    }
}

/*------------CONTATO-----------------*/

#Contato {
    color: whitesmoke;

    background-color: #2e2d2c;
}

#Contato > .wrapper {
    background-color: #2e2d2c;
}

#Contato > .wrapper > .container {
    display: flex;
    box-sizing: content-box;
    padding: 80px 0;
    padding-bottom: 100px;

    background-color: #2e2d2c;

}

#Contato > .wrapper > .container > div {
    width: 50%
}


/*-------------EMAIL (left side)-------------*/

/*
#emailContainer{
    display: flex;
    margin-top: 10px;
    box-sizing: content-box;
    padding: 0 50px;
} */

#form {
    z-index: 10;
}

#form > input,
#form textarea {
    color: black;
    box-sizing: border-box;
    background-color: white
}

#form > input::placeholder,
#form textarea::placeholder {
    color: gray
}

#form > input {
    width: 100%;
    height: 44px;
}

#txtEmail,
#txtAssunto {
    margin-top: 2px;
    max-width: 1600px;
}

#enviar {
    margin-top: 2px;
    min-width: 100%;
    display: inline-flex;
    height: 110px;
    overflow: hidden;
}

#txtMensagem {
    height: 100%;
    width: 80%;
    text-align: left;
}

#btnEnviar {
    height: 100%;
    width: 20%;
    font-size: 1.3em;
    font-weight: 900;
    color: transparent;
    cursor: pointer;
    margin-left: 2px;
    background-color: dimgray;
    /* background-image: url(../img/_others/icons/send.svg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    transition: 0.5s
}

#btnEnviar:hover {
    color: whitesmoke;
}

#btnEnviar:active {
    background-color: #61b1c4
}

#newsletter {
    display: flex;
    margin-top: 7px;
    font-size: 1em;
    align-content: center;
    align-items: center
}

#newsletter input {
    height: 14px;
    width: 14px
}

#newsletter p {
    padding-left: 4px;
    color: dimgray
}

#msgErro {
    color: indianred;
    margin-top: 7px;
    display: none
}

/*-------------ENDEREÇO (right side)-------------*/

#c_right {
    font-size: 1.1em;
    margin-left: 50px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#endereco {
    font-size: 0.9em
}

.redes {
    z-index: 1;
}

.redes img {
    height: 5vh;
    min-height: 30px;
    background-color: white;
    border-radius: 100%
}

/*
@media (max-width: 900px) {
    #Contato > .container {
        flex-flow: column-reverse;
        padding: 10px 30px;
    }
    #Contato > .container > div {
        width: 100%
    }
    #c_right {
        padding-left: 0;
    }
    #Contato h1 {
        margin-left: 30px;
    }
    #endereco {}
}

@media (max-width: 500px) {
    #Contato > .container {
        padding: 10px 8px;
    }
    #Contato h1 {
        margin-left: 0;
        width: 100%;
        text-align: center
    }
} */

/*-------------PARCEIROS-------------*/

#Parceiros {
    padding: 30px 0;
    color: #2e2d2c;
}

#Parceiros > .wrapper {
    display: flex;
}

#Parceiros > .wrapper > .container {
    margin-left: 20px;
}

#Parceiros > .wrapper > .container > img {
    max-width: 180px;
}


/*------------ANIMATIONS-----------------*/

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes m_left {
    0% {
        margin-left: -30px
    }
    100% {
        margin-left: 0
    }
}

@keyframes m_right {
    0% {
        margin-right: -30px
    }
    100% {
        margin-right: 0
    }
}


/* #email_icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 8px
}

#email_icon img {
    height: 30px;
    background-color: whitesmoke;
    border-radius: 100%;
    padding: 3px
} */
