/*----------NORMATIZAÇÃO------------*/

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

::selection {
    color: whitesmoke;
    background-color: black
}

input,
textarea {
    font-size: 1.3em
}

input {
    text-align: center;
}

button {
    cursor: pointer
}


/*----------CLASSES------------*/

.nav-start {
    position: absolute;
    justify-content: center;
}

.nav-start > #menu {
    margin-top: -10vh;
    box-shadow: 0 0px 15px -10px rgba(0, 0, 0, 0.5);
}

.nav-fixed {
    z-index: 100;
    position: fixed;
    top: 0;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.hide {
    display: none;
}

.fade {
    opacity: 0;
}

.center_child {
    display: flex;
    flex-flow: column;
    /* Distribuição */
    align-items: center;
    /* Alinhar horizontal (eixo X) */
    justify-content: center/* Alinhar vertical (eixo Y) */
}

.center_X {
    margin: 0 auto
}


.aba {
    z-index: 10;
    position: absolute;
    top: 90px;
    left: 30px;
    max-width: 500px;
    box-sizing: content-box;
    padding: 0px 15px;
}

.titulo {
    text-transform: uppercase;
    font-size: 2em;
    text-align: left;
    font-weight: bold;
    letter-spacing: 4px;
}

.desc {
    text-align: justify;
    margin-top: 15px;
    font-size: 1.3em
}

.btn {
    text-align: center;

    background-color: transparent;
    border: 2px solid;
    font-size: 0.8em;
    transition: 1s;

    border-radius: 40px;
    width: 150px;
    height: 40px;

    text-transform: uppercase;

    font-weight: bold;
}

.btn:hover {
    transform: scale(1.04, 1.04);
}

/*------------ONDAS (SVG)-----------------*/

.onda {
    height: 150px;
    width: 100%;
    margin-bottom: -5px;
    background-color: transparent;

    /*  -webkit-filter: drop-shadow( -5px -5px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, 0.2)); */
}

.t_r {
    transform: rotateY(180deg)
}

.b_l {
    transform: rotateX(180deg)
}

.b_r {
    transform: rotate(180deg)
}

/*------------BLACK COVER-----------------*/

.black-cover {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}

#alert {
    min-height: 20vh;
    width: 40vw;
    background-color: #f3b31b;
    color: #2e2d2c;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: space-between;
}

#alert_top {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%
}

#alert_close {
    border: 2px solid dimgray;
    cursor: pointer;
    margin: -10px -10px 0 0;
    padding: 5px;
    height: 20px;
    width: 20px;
    background-color: black;
    color: white;
    font-size: 1em;
    border-radius: 100%;
}

#alert_infos {
    box-sizing: border-box;
    padding: 10px;
}

#alert_infos > h1 {
    font-size: 1.8em;
    margin-bottom: 5px;
    font-weight: 600
}

#alert_infos > p {
    font-size: 1.6em;
    font-weight: 100
}

#mc-embedded-subscribe-form {
    display: flex;
    height: 7vh;
}

.mc-field-group {
    width: 80%;
}

#mc-embedded-subscribe-form input:not([type="submit"]) {
    width: 100%;
    height: 100%
}

#mc-embedded-subscribe-form input[type="submit"] {
    width: 20%;
    cursor: pointer
}

#mce-responses {
    width: 100%;
    color: whitesmoke;
    font-size: 1.2em;
    text-align: justify;
    ;
    font-weight: 100
}

#mce-success-response,
#mce-error-response {
    box-sizing: border-box;
    padding: 10px;
}

#mce-success-response {
    background-color: cadetblue
}

#mce-error-response {
    background-color: indianred;
}

/*----------NAV------------*/

#Nav {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row;
    align-items: center;
    z-index: 99;
    transition: background 1s;
    background-color: whitesmoke;
    font-weight: 100;
    font-size: 1em;
}

#Nav #home {
    width: 70px;
    transition: opacity 0.7s;
    padding: 4px 0 4px 4px;
    box-sizing: border-box;
    position: absolute;
    top: 0
}

#Nav > div {
    height: 5vh;
    min-height: 30px;
    margin-right: 10px;
    z-index: 1;
}

#Nav ul {
    height: 100%;

    display: flex;
    z-index: 2;
    background-color: whitesmoke;
    transition: 1s;
    text-transform: uppercase
}

#Nav li {
    height: 100%;
    min-width: 180px;
    transition: opacity 0.5s linear, background 1s;
    box-sizing: border-box;
    padding: 0px 10px;
    border-top: solid 4px;
    text-align: center
}

#mobile-menu {
    position: fixed;
    top: 0;
    z-index: 100;
    margin: 10px;
    padding: 10px;
    background-color: #2e2d2c;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none;
    transition: transform 1s
}

@media (max-width: 900px) {
    #Nav {
        height: 100vh;
        flex-flow: column;
        position: fixed;
        margin-left: -180px;
        width: auto;
    }
    #Nav ul {
        flex-flow: column;
        background-color: transparent
    }
    #Nav li {
        height: 20vh;
        border-top: none;
        transition: none;
        border-left: solid 4px;
        padding: 0;
        transition: background 0.7s
    }
    #Nav li:hover {
        background-color: rgba(0, 0, 0, 0.1)
    }

    #Nav #home {
        display: none
    }
    #mobile-menu {
        display: flex
    }
}

/*------------FOOTER-----------------*/

footer {
    background-color: gainsboro;
    color: black;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    padding: 12px 0
}
