/*----------NORMATIZAÇÃO------------*/

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

::selection {
    color: whitesmoke;
    background-color: black
}

input,
textarea {
    font-size: 1.3em
}

input {
    text-align: center;
}

button {
    cursor: pointer
}


/*----------CLASSES------------*/

.nav-start {
    position: absolute;
    justify-content: center;
}

.nav-start>#menu {
    margin-top: -10vh;
    box-shadow: 0 0px 15px -10px rgba(0, 0, 0, 0.5);
}

.nav-fixed {
    z-index: 100;
    position: fixed;
    top: 0;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.hide {
    display: none;
}

.fade {
    opacity: 0;
}

.center_child {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center
}

.center_childs {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.titulo {
    text-transform: uppercase;
    font-size: 2.8em;
    text-align: center
}

.aba {
    z-index: 10;
    position: absolute;
    top: 70px;
    left: 60px;
}

/*------------ONDAS (SVG)-----------------*/

.onda {
    height: 150px;
    width: 100%;
    margin-bottom: -5px;
    background-color: transparent;

   /*  -webkit-filter: drop-shadow( -5px -5px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, 0.2)); */
}

.t_r {
    transform: rotateY(180deg)
}

.b_l {
    transform: rotateX(180deg)
}

.b_r {
    transform: rotate(180deg)
}

/*------------BLACK COVER-----------------*/

#black-cover {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}

#alert {
    min-height: 20vh;
    min-width: 40vw;
    background-color: #f3b31b;
    color: #2e2d2c;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: space-between;
}

#alert_top {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%
}

#alert_close {
    border: 2px solid dimgray;
    cursor: pointer;
    margin: -10px -10px 0 0;
    padding: 5px;
    height: 20px;
    width: 20px;
    background-color: black;
    color: white;
    font-size: 1.5em;
    border-radius: 100%;
}

#alert_infos {
    box-sizing: content-box;
    padding: 10px;
}

#alert_infos>h1 {
    font-size: 4em;
    margin-bottom: 5px
}

#alert_infos>p {
    font-size: 3em;
}

#alert_email {
    display: flex;
    height: 7vh
}

#alert_email>input {
    width: 80%;
}

#alert_email>button {
    width: 20%;
}

/*----------NAV------------*/

#Nav {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row;
    align-items: center;
    z-index: 99;
    transition: background 1s;
    background-color: whitesmoke;
}

#Nav #home {
    width: 70px;
    transition: opacity 0.7s;
    padding: 4px 0 4px 4px;
    box-sizing: border-box;
}

#Nav>div {
    height: 5vh;
    min-height: 30px;
    margin-right: 10px;
    z-index: 1;
}

#Nav ul {
    height: 100%;
    font-size: 1.3em;
    display: flex;
    z-index: 2;
    background-color: whitesmoke;
    transition: 1s;
}

#Nav li {
    height: 100%;
    width: 150px;
    transition: opacity 0.5s linear, background 1s;
    box-sizing: border-box;
    padding: 0px 15px;
    border-top: solid 4px
}

#mobile-menu {
    position: fixed;
    top: 0;
    z-index: 100;
    margin: 10px;
    padding: 10px;
    background-color: #2e2d2c;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none;
    transition: transform 1s
}

@media (min-width: 900px) {
    #Nav {
        margin-left: 0
    }
}

@media (max-width: 900px) {
    #Nav {
        height: 100vh;
        flex-flow: column;
        width: auto;
        position: fixed;
        float: none;
        margin-left: -135px;
    }
    #Nav ul {
        flex-flow: column;
        background-color: transparent
    }
    #Nav li {
        height: 20vh;
        border-top: none;
        width: 130px;
        transition: none;
        background-color: transparent
    }
    #Nav #home {
        width: 100px;
        padding: 0;
        display: none
    }
    #mobile-menu {
        display: flex
    }
    #redes {
        display: none
    }
}

/*------------FOOTER-----------------*/

footer {
    background-color: black;
    color: black;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    padding: 0 20px
}
