body {
    background-color: whitesmoke;
    position: relative
}

#Main {
    box-sizing: border-box;
    padding: 40px 0
}

#Banner {
    position: relative;
    background-color: black
}

#Banner > div {
    position: absolute;
    color: whitesmoke;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    transition: opacity 0.8s
}

#Banner > div:hover {
    opacity: 0
}

#Banner > div h1 {
    font-size: 3.5em
}

#Banner > div h2 {
    font-size: 2em
}

#Banner img {
    object-fit: cover;
    max-width: 100%;
    max-height: 80vh;
    min-height: 300px
}

#text {
    font-size: 1.2em;
    text-align: justify
}

#stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    font-size: 1em
}

#author,
#date {
    color: gray
}

#author > a {
    text-decoration: underline
}

#Share {
    font-size: 1.2em;
    color: gray;
    margin-top: 40px;
}

.redes {
    flex-flow: row;
    margin-top: 5px
}

.redes img {
    height: 45px;
    margin: 0 4px
}
.redes img:first-child {
	margin-left: 0
}

/*------------MEDIAS-----------------*/
@media (max-width: 645px) {
    /* General */
    p:not(#bhp) {
        font-size: 0.9em
    }

    #Banner > div h1 {
        font-size: 3.2em
    }

    #Banner > div h2 {
        font-size: 1.2em
    }
}

/*------------ANIMATIONS-----------------*/
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
