/*------------BANNER-----------------*/

#Banner {
    background-color: black;
    height: 98.5vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#banner_bg,
#banner_fade {
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#banner_fade {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1
}

#Banner ._wrapper {
    z-index: 2;
    text-align: center
}

#logo {
    width: 450px;
    animation: fade ease-in 1.5s;
}

#Banner p {
    text-transform: uppercase;
    color: white;
    font-size: 1.8em;
    font-weight: 900;
    margin: 10vh 0;
    letter-spacing: 2px;
    text-align: center;
}

#Banner ._btn {
    margin: auto;
    border-color: white;
    color: white;
}

#Banner ._btn:hover {
    background-color: white;
    color: black
}


/*----------MAIN------------*/

#Main {
    top: 0;
    position: relative;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
}

/*------------MANIFESTO-----------------*/

#Sobre {
    padding-top: 9vh;
    /*  padding: 9vh 20vw 0px 20vw; */
    box-sizing: content-box;
    background: #e54347;
    position: relative;
    color: whitesmoke;
    transition: all 0.5s;
}

#Sobre h1 {
    color: #2e2d2c;
    font-size: 1.8em;
    text-align: center;
    /* text-shadow: 1px 1px teal */
    padding: 25px 0
}

#Sobre ._wrapper {
    max-width: 810px;
}

#Sobre .container p:not(.p_destaque) {
    padding: 18px 0;

    font-size: 1.2em;
    text-align: justify;
}

#Sobre .container p:last-child,
.p_destaque {
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.p_destaque:nth-child(1),
.p_destaque:nth-child(2) {
    font-size: 1.8em;
}

.p_destaque:nth-child(4),
.p_destaque:nth-child(8) {
    font-size: 0.9em;
}

.p_destaque:nth-child(5),
.p_destaque:nth-child(6),
.p_destaque:nth-child(9),
.p_destaque:nth-child(10) {
    font-size: 2em;
}

#Sobre .container p:last-child {
    font-size: 3em;
    margin-top: 20px
}


/*------------NUVEM-----------------*/

#Nuvem {
    background-color: whitesmoke;
}

#Nuvem img {
    width: 90vw;
}

/*------------METODOS-----------------*/

#Metodos ._onda {
    margin-bottom: -5px;
}


/*------------CAMINHOS-----------------*/

#Caminhos {
    background-color: #621e56;
    color: whitesmoke;
}

#Caminhos ._titulo {
    color: white
}

#Caminhos .owl-carousel {
    background-color: #621e56;
    color: #621e56;
}

#Caminhos .owl-nav {
    box-sizing: border-box;
    padding: 0 5vw;
}

#Caminhos .owl-item {
    height: 400px;
    width: auto;
}

.step {
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 100%;
}

.s_1 {
    background-image: url("../img/Index/metodos/01.png");
}

.s_2 {
    background-image: url("../img/Index/metodos/02.png");
}

.s_3 {
    background-image: url("../img/Index/metodos/03.png");
}

.s_4 {
    background-image: url("../img/Index/metodos/04.png");
}

#Caminhos > .container {
    margin-top: 40px;
    display: none;
}

.passo {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.passo img {
    width: 100px;
    margin-right: 10px
}

.passo h1 {
    font-size: 1em;
    color: white
}

.passo h2 {
    font-size: 1.2em;
    margin: 6px 0
}

.passo p {
    text-align: justify
}

.passo:nth-child(1) h2,
.passo:nth-child(4) h2 {
    color: #61b1c4
}

.passo:nth-child(2) h2 {
    color: #e54347
}

.passo:nth-child(3) h2 {
    color: #f3b31b
}

@media (max-width: 800px) {
    #Caminhos .owl-item {
        height: 350px;
        width: auto;
    }

}

@media (max-width: 600px) {
    #Caminhos .owl-carousel {
        display: none
    }
    #Caminhos > .container {
        display: block
    }
}

@media (max-width: 420px) {
    #Caminhos > .container {
        margin-top: 20px
    }
    .passo {
        flex-flow: column;
    }
    .passo_infos h1,
    .passo_infos h2 {
        text-align: center
    }
}

/*------------MÓDULOS-----------------*/

#Modulos {
    background-color: whitesmoke;
    /* padding: 0 19vw; */
    text-align: justify;
    font-size: 1.1em;
}

#Modulos ._wrapper {
    max-width: 800px
}

#Modulos ._wrapper > h1 {
    color: #621e56;

    text-align: center;
    padding: 10px 0;
}

.single_modulo {
    display: flex;
    align-items: center;
}

.single_modulo > img {
    width: 200px;
    padding-right: 14px;
}

.multiple_modulos {
    display: flex;
    text-align: center;
    margin-top: 15px;
}

.modulo {
    box-sizing: content-box;
    padding: 15px;
}

.modulo > img {
    width: 120px
}

.modulo > h1 {
    font-size: 1.2em
}

.modulo > p {
    margin-top: 20px;
}


/*------------EQUIPE-----------------*/

#Equipe {
    color: whitesmoke;
    position: relative;
    background-position: center;
    background-color: #f3b31b;
}

#Equipe .aba {
    color: #2e2d2c;
    max-width: 450px
}

#Equipe ._desc {
    margin-top: 20px;
}

#Equipe > ._wrapper {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

#Equipe .owl-carousel {
    width: 40vw;
}

#Equipe .owl-nav {
    color: #f3b31b;

    box-sizing: border-box;
    padding: 0 5vw;

    height: 52%;
}

.membro {
    max-width: 450px;
    text-align: center;
    margin: 0 auto;
}

.membro > img {
    height: 150px;
    max-width: 150px;
    border-radius: 100%;
    object-fit: cover
}

.membro > h1 {
    margin-top: 10px
}

.membro > p {
    margin-top: 20px
}



/*------------RECOMENDADOS-----------------*/

/*------------VIDEO-----------------*/

#Videos {
    font-weight: 100;
    padding-bottom: 40px;
    background-color: whitesmoke;
}

#Videos > ._wrapper h1 {
    color: #61b1c4;
}

#Videos > ._wrapper > h1 {
    padding: 20px 0 50px 0;
}

#Videos > ._wrapper > .container {
    margin: auto;
    display: flex;
    min-height: 60vh;
}

#v_left {
    width: 50%;
    background-color: white;
    position: relative;
}

#v_left_controls {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
    z-index: 1
}

#v_left iframe, #v_left video {
    height: 100%;
    width: 99.9%;
    z-index: 0;
}

#v_right {
    width: 50%;
    background-color: whitesmoke;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    border-left: 4px solid gainsboro;
    padding-left: 5px;
    margin-left: 10px
}

#video_infos {
    margin-left: 10px
}

#video_infos h1 {
    font-size: 1.7em;
    text-transform: uppercase
}

#video_infos p {
    font-size: 1.1em;
    color: dimgray;
    text-align: justify;
}

#outros_videos {
    display: flex;
    flex-flow: column;
    margin-top: 20px
}

#outros_videos > p {
    padding: 4px 0px;

    text-align: center;
    width: 250px;
    background-color: #61b1c4;
    color: whitesmoke;
    font-size: 0.9em;
    margin-bottom: 8px;
    text-transform: uppercase
}

#outros_videos > .container {
    height: 15vh;
    display: flex;
}

.v_other {
    height: 100%;
    width: 176px;
    margin-right: 8px;
    cursor: pointer;
    position: relative;
}

.v_other > img {
    height: 100%;
    width: 100%
}

.v_other_play {
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s
}

.v_other_play:hover {
    opacity: 0
}

.v_other_play > img {
    height: 35px
}

/*------------ARTIGOS-----------------*/

#Artigos {
    background-color: #61b1c4;
    padding-bottom: 150px;
    margin-bottom: -150px;
}

#Artigos ._titulo {
    color: #2e2d2c;
    margin: -40px 0px 50px 0
}

#Artigos .container {
    display: flex;
    justify-content: space-around;

}

#Artigos .container > div {
    display: flex;
    justify-content: space-between;
    width: 48%
}

.artigo {
    transition: 0.5s;
    max-width: 250px;
    color: white;
    text-align: center;
}

.artigo_thumb {
    height: 190px;
    width: 100%;
    object-fit: cover;
    background-color: black;
}

.artigo_titulo {
    font-size: 1.1em;
    text-align: center;
    color: white;
    margin: 2px 0 15px 0
}

.artigo_desc {
    width: 100%;
    font-size: 0.9em;
    text-align: justify;

    min-height: 180px;
    overflow: hidden;
}

.artigo_mais {
    margin-top: 5px;
    color: #61b1c4;
    box-sizing: border-box;
    padding: 3px 18px;
    background-color: white;
    font-size: 0.9em;
    text-align: center;

    cursor: pointer;
    transition: 0.8s
}

.artigo_mais:hover {
    color: white;
    background-color: #2e2d2c;
}

#Artigos > ._wrapper > ._btn {
    margin-top: 60px;
    color: #2e2d2c;
}

#Artigos > ._wrapper > ._btn:hover {
    background-color: #2e2d2c;
    color: white;
}



/*------------CONTATO-----------------*/

#Contato {
    color: whitesmoke;

    background-color: #2e2d2c;
}

#Contato .container {
    display: flex;
    box-sizing: border-box;
    padding: 80px 0;
    padding-bottom: 100px;

    background-color: #2e2d2c;

}

#Contato .container > div {
    width: 50%
}


/*-------------EMAIL (left side)-------------*/

/*
#emailContainer{
    display: flex;
    margin-top: 10px;
    box-sizing: content-box;
    padding: 0 50px;
} */

#form {
    z-index: 10;
}

#form > input,
#form textarea {
    color: black;
    box-sizing: border-box;
    background-color: white
}

#form > input::placeholder,
#form textarea::placeholder {
    color: gray
}

#form > input {
    width: 100%;
    height: 44px;
}

#txtEmail,
#txtAssunto,
#enviar {
    margin-top: 2px;
    max-width: 1600px;
}

#enviar {
    width: 100%;
    margin-top: 2px;
    display: inline-flex;
    height: 110px;
    overflow: hidden;
}

#txtMensagem {
    height: 100%;
    width: 80%;
    text-align: left;
}

#btnEnviar {
    height: 100%;
    width: 20%;
    font-size: 1.3em;
    font-weight: 900;
    color: transparent;
    cursor: pointer;
    margin-left: 2px;
    background-color: dimgray;
    /* background-image: url(../img/_others/icons/send.svg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    transition: 0.5s
}

#btnEnviar:hover {
    color: whitesmoke;
}

#btnEnviar:active {
    background-color: #61b1c4
}

#newsletter {
    display: flex;
    margin-top: 7px;
    font-size: 0.9em;
    align-content: center;
    align-items: center
}

#newsletter input {
    height: 14px;
    width: 14px
}

#newsletter p {
    padding-left: 4px;
    color: dimgray
}

#msgErro {
    color: indianred;
    margin-top: 7px;
    display: none
}

/*-------------ENDEREÇO (right side)-------------*/

#c_right {
    font-size: 1.1em;
    margin-left: 50px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#endereco {
    font-size: 0.9em
}

.redes {
    z-index: 1;
}

.redes img {
    height: 5vh;
    min-height: 30px;
    background-color: white;
    border-radius: 100%
}

/*-------------PARCEIROS-------------*/

#Parceiros {
    padding: 30px 0;
    color: #2e2d2c;
}

#Parceiros ._wrapper {
    display: flex;
}

#Parceiros .container {
    margin-left: 20px;
}

#Parceiros .container > img {
    max-width: 180px;
}

/*------------MEDIAS-----------------*/

@media (max-width: 1160px) {
    /* Artigos */
    #Artigos .container {
        flex-flow: column;
    }
    #Artigos .container > div {
        width: 100%;
        justify-content: center;
    }
    .artigo:first-child {
        margin-right: 15px
    }
    .artigo {
        max-width: 450px;
        margin: 10px 0;
    }
    .artigo p {
        min-height: auto;
        padding-bottom: 15px
    }

    #Artigos ._titulo {
        margin: 0 0 15px 0
    }
}

@media (max-width: 1000px) {
    #Equipe .owl-nav {
        padding: 0 4vw;
    }
}

@media (max-width: 900px) {
    /* Equipe */
    #Equipe > ._wrapper {
        flex-flow: column
    }
    #Equipe .aba {
        max-width: inherit
    }

    #Equipe .owl-carousel {
        width: auto;
        margin-top: 40px;
    }
    #Equipe .owl-nav {}
    .membro > p {
        text-align: justify
    }

    /* Videos */
    #Videos ._wrapper > .container {
        display: flex;
        flex-flow: column;
        width: 100%;
    }
    #Videos ._wrapper > .container > div {
        width: 100%;
    }
    #v_left {
        height: 70vh;
    }
    #v_left_controls {
        height: 70vh;
        width: 100%;
    }
    #v_right {
        border-left: 4px solid gainsboro;
        padding: 0;
        margin: 10px 0
    }
    #video_infos {
        margin-left: 10px
    }

    /* Contato */
    #Contato .container {
        flex-flow: column-reverse;

        padding: 20px 0;
    }
    #Contato .container > div {
        width: 100%
    }
    #c_right {
        margin-left: 0;

        text-align: justify
    }
    #endereco {
        margin: 20px 0
    }
}


@media (max-width: 850px) {
    /* Manifesto */
    #Sobre .container > p:not(.p_destaque) {
        font-size: 1em;
    }
    .p_destaque:nth-child(1),
    .p_destaque:nth-child(2) {
        font-size: 1.3em;
    }

    .p_destaque:nth-child(4),
    .p_destaque:nth-child(8) {
        font-size: 0.8em;
    }

    .p_destaque:nth-child(5),
    .p_destaque:nth-child(6),
    .p_destaque:nth-child(9),
    .p_destaque:nth-child(10) {
        font-size: 1.5em;
    }

    #Sobre .container > p:last-child {
        font-size: 2.5em;
    }
}

@media (max-width: 645px) {
    /* Manifesto */
    #Sobre .container > p:not(.p_destaque) {
        font-size: 0.9em;
    }

    .p_destaque:nth-child(1),
    .p_destaque:nth-child(2) {
        font-size: 1.1em;
    }

    .p_destaque:nth-child(4),
    .p_destaque:nth-child(8) {
        font-size: 0.7em;
    }

    .p_destaque:nth-child(5),
    .p_destaque:nth-child(6),
    .p_destaque:nth-child(9),
    .p_destaque:nth-child(10) {
        font-size: 1.1em;
    }

    #Sobre .container > p:last-child {
        font-size: 2em;
    }

    /* Modulos */
    .single_modulo,
    .multiple_modulos {
        flex-flow: column;


    }
    .single_modulo > img {
        padding-right: 0;
    }

    /* Videos */
    #Videos > ._wrapper > h1 {
        padding: 0 0 25px 0;
    }
}


@media (max-width: 600px) {
    /* Artigos */
    #Artigos .container > div {
        flex-flow: column;
        align-items: center;
    }
    .artigo {
        max-width: 100%;
        margin: 18px 0
    }
}

@media (max-width: 525px) {
    /* Banner */
    #Banner p {
        font-size: 1.4em;
    }

    #logo {
        width: 350px;
    }
}

@media (max-width: 450px) {
    /* Parceiros */
    #Parceiros ._wrapper {
        flex-flow: column;
    }

}

@media (max-width: 425px) {
    /* Banner */
    #Banner p {
        font-size: 1em;
    }

    #logo {
        width: 250px;
    }
}

/*------------ANIMATIONS-----------------*/

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes m_left {
    0% {
        margin-left: -30px
    }
    100% {
        margin-left: 0
    }
}

@keyframes m_right {
    0% {
        margin-right: -30px
    }
    100% {
        margin-right: 0
    }
}


/* #email_icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 8px
}

#email_icon img {
    height: 30px;
    background-color: whitesmoke;
    border-radius: 100%;
    padding: 3px
} */
