body {
    background-color: whitesmoke;
    position: relative;
}

#Banner {
    position: relative;
    background-color: black;

}

.no-thumb {
    height: 300px;
    color: white;
    background-color: #e54347 !important;
}

._blur-cover {
    background-color: rgba(0,0,0,0.03)
}

#Banner > div {
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

#Banner:not(.no-thumb) > div {
    color: whitesmoke;
    transition: opacity 0.8s;
}

#Banner > div h1 {
    font-size: 3.5em;
    color: #2e2d2c;
    background-color: whitesmoke;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: center
}

#Banner > div h2 {
    font-size: 2em
}

#Banner img {
    object-fit: cover;
    width: 100%;
    max-height: 80vh;
    min-height: 300px
}

#Main {
    box-sizing: border-box;
    padding: 40px 0 10px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    border-radius: 10px 10px 0 0;
    margin-top: -10px;
    background-color: whitesmoke
}

#text {
    font-size: 1.2em;
    text-align: justify;
    min-height: 19.9vh /* FIXME: different height sizes */
}

#text a {
    color: #61b1c4
}

#stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    font-size: 1em
}

#author,
#date {
    color: gray
}

#author > a {
    text-decoration: underline
}

#Share {
    font-size: 1.2em;
    color: gray;
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
}
#Share p{
	margin-bottom: 10px
}

/*------------MEDIAS-----------------*/

@media (max-width: 645px) {
    /* General */
    p {
        font-size: 0.9em
    }

    #Banner > div h1 {
        font-size: 2.2em;
        padding: 8px;
    }

    #Banner > div h2 {
        font-size: 1.2em
    }
}
